@model IEnumerable<Model.ModelStudentM.ModelStudent>

<div class="col-12 formHeader">
    <div class="formHeaderContent">
        <h6>
            Student
        </h6>
    </div>
    <table id="DesignationTable" class="table table-light table-striped table-hover display" style="width:100%">
        <thead>
            <tr>
                <th>
                    StudentId
                </th>
                <th>
                    StudentName
                </th>
                <th>
                    DateOfBirth
                </th>
                <th>
                    Email
                </th>
                <th>
                    PhoneNumber
                </th>
                <th class="text-center">
                    <a href="/Student/DesignationForm/0" class="btn btn-success text-white">
                        <i class='fa-solid fa-file-circle-plus'></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 0;
                foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.StudentId>
                        <td>@item.StudentName</td>
                        <td>@item.DateOfBirth</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td class="text-center">
                            <div>
                                <a href="/Student/DesignationForm?ID=@item.StudentId" class="btn btn-outline-warning"><i class="fa-solid fa-edit"></i></a>

                                <a href="/Student/DeleteDesignation?ID=@item.StudentId" class="btn btn-outline-danger"><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot></tfoot>
    </table>
</div>